.section {
  padding: 10px;
  margin-left: 320px;

  &-part {
    margin-bottom: 40px;
  }

  &-header-title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &-text {
    margin-bottom: 20px;
  }

  &-title {
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: bold;
  }

  &-paragraph {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &-list {
    margin-left: 50px;
    list-style-type: disc;
  }
}

.word-accent {
  background-color: rgb(215, 215, 212);
}

.line-accent {
  background-color: rgb(215, 215, 212);
  padding: 10px;
}
