.sidebar {
  position: fixed;
  background-color: rgb(232, 232, 232);
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100vh;

  &-header {
    padding: 10px 10px;
  }

  &-header-title {
    font-size: 28px;
    font-weight: bold;
  }

  &-item {
    list-style-type: none;
    font-size: 18px;
    border-top: 1px solid rgb(191, 189, 189);
    padding: 10px;
  }
}

.link-decoration {
  text-decoration: none;
  color: black;
}
