@import "sidebar";
@import "article";

body {
  font: {
    family: "Poppins", sans-serif;
    size: 16px;
  }
  line-height: 1.5;
}

.page-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
